*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: url(games.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
header{
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    background-color: #000;
}
main{
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
main p{
    width: 700px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 50px;
    background-color: #000;
    color: white;
    border-radius: 20px;
}
main button{
    width: 500px;
    height: 100px;
    border: none;
    outline: none;
    outline: none;
    border-radius: 10px;
    font-size: 30px;
    background: linear-gradient(#cc66ff,#f8f6f6);
    cursor: pointer;
}
main button:hover{
    transform: translateY(5px);
    transition: 0.2s;
}